<main class="main">
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="images/logo.png" alt="Lux cars logo" />
      </div>
      <nav class="navmenu">
        <ul>
          <li><a href="#cars">Cars</a></li>
          <li><a href="#request-form">Reserve</a></li>
        </ul>
      </nav>
      <a href="tel:07123456789" class="phone">071 2345 6789</a>
    </div>
  </header>

  <section class="main-content">
    <div class="container">
      <div class="main-info">
        <h1>Conquer the roads behind the wheel of legendary cars!</h1>
        <p>
          From exclusive sports cars to racing masterpieces, choose your dream,
          get behind the wheel, and experience the full power of a premium
          vehicle!
        </p>
        <a href="#cars" class="button" id="main-action-button">View cars</a>
      </div>
      <img src="images/main-car.png" class="main-image" alt="Main Car" />
    </div>
  </section>

  <div class="black-block"></div>
</main>

<section class="cars" id="cars">
  <div class="container">
    <h2>Choose car</h2>
    <div class="cars-content" id="carsContent" #carsContent>
      <aside class="cars-filter">
        <ul>
          @for (brand of brands; track $index) {
          <li
            [class.active]="brand.active"
            (click)="changeFilter(brand, carsContent)"
          >
            {{ brand.name }}
          </li>
          }
        </ul>
      </aside>
      <div class="cars-items">
        <div class="cars-items">
          @for (car of cars; track car.name){
          <article class="item">
            <img src="{{car.image}}" alt="{{car.name}}" />
            <div class="car-details">
              <h4>{{car.name}}</h4>
              <p>{{car.description}}</p>
              <div class="car-action">
                <ul>
                  @for (rent of car.prices; track $index){
                  <li>
                    <div class="car-duration">{{rent.duration}}</div>
                    <div class="car-price">
                      {{rent.price}} @if($index > 0) {$<span>/Day</span>}
                    </div>
                  </li>
                  }
                </ul>
                <a
                  href="#request-form"
                  class="button button-white"
                  (click)="this.orderForm.get('carName')?.setValue(car.name)"
                  >Book</a
                >
              </div>
            </div>
          </article>
          }
        </div>
      </div>
    </div>
  </div>
</section>

<section class="request-form" id="request-form">
  <div class="container">
    <img src="images/order-car.png" alt="Car" />
    <form [formGroup]="orderForm">
      <h3>Book a car</h3>
      <p>
        Fill in your contact information and we will call you back to discuss
        the details and confirm your booking.
      </p>
      <div class="form-inputs">
        <div class="field">
          <input
            type="text"
            id="carName"
            placeholder="Car"
            required
            formControlName="carName"
            [class.input-error]="isError('carName')"
            readonly
          />
          <small class="error-message" id="carNameError"></small>
        </div>

        <div class="field">
          <input
            type="text"
            id="customerName"
            placeholder="Your name"
            required
            formControlName="customerName"
            [class.input-error]="isError('customerName')"
          />
          <small class="error-message" id="customerNameError"></small>
        </div>

        <div class="field">
          <input
            type="text"
            id="customerPhone"
            placeholder="Phone"
            required
            formControlName="customerPhone"
            minlength="10"
            [class.input-error]="isError('customerPhone')"
          />
          <small class="error-message" id="customerPhoneError"></small>
        </div>

        <button
          class="button"
          id="submitRequest"
          type="button"
          (click)="sendOrder()"
          [disabled]="!orderForm.valid"
        >
          Book now
        </button>
      </div>
    </form>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="images/logo.png" alt="Lux cars logo" />
    </div>
    <div class="copyrights">Copyrights</div>
  </div>
</footer>
