* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  letter-spacing: -1px;
  color: whitesmoke;
  background-color: #212112;
}
